.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: left;
}
.gallery img {
    width: 250px; 
    height: 250px;
    object-fit: cover;
    border: 5px solid black;
    border-radius: 9px;
}