body{
    background-image: url(daniele-colucci-HCyqiQT9_xI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}